/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	line-height: 1.6;
	background-color: #fff;
	color: #3E3E3E;
}

p {
	font-size: 1em;
	font-weight: 300; 
}

h1,
h2,
h3 {
	margin-top: 0;
}

h3 {
	font-size: 1.2em;
    font-weight: 400;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	padding: 0;
}

img {
	width: 100%;
}



/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.main-header {
	margin-bottom: 5em;
}

.my-name {
	margin-top: 0.5em;
	font-size: 2em;
}

.main-nav a, 
.foot-nav a {
	display: inline-block;
    width: 100%;
    margin: 0.2em;
    padding: 0.8em;
    font-size: 0.9em;
    font-weight: 900;
    text-transform: uppercase;
}

.main-nav a {
	background-color: #FEEBD9;
}

.main-nav a:hover {
	background-color: #FCD4AB;
	color: #107B99; 
}



/* ---- Layout Containers ---- */

.about-section {
	margin-bottom: 3em;
}

.container-absolute {
	position: relative;
	width: 75%;
	margin: 0 auto;
}

.about-bg, 
.contact-bg {
	background-color: #1395BA;
	position: relative;
  	z-index: 1;
  	color: #fff;
}

.about-bg:before, 
.about-bg:after, 
.contact-bg:before, 
.contact-bg:after  {
	background: inherit;
	content: '';
	display: block;
	height: 50%;
	position: absolute;
	left: 0;
	right: 0;
	z-index: -1;
}

.about-bg:before {
	top: -40px;
	transform: skewY(-2deg);
	transform-origin: 100% 0;
}

.about-bg:after {
	bottom: -40px;
	transform: skewY(2deg);
	transform-origin: 100%;
}

.container {
	padding: 0 1em;
	margin: 0 auto;
	text-align: center;
}

.portfolio-bg {
	background-color: #fff;
	padding-top: 3em;
	padding-bottom: 2em;
}

.portfolio-bg + .portfolio-bg {
	padding-top: 0;
}

.testimonial-section {
	border-top: 1px solid #eee;
}

.testimonial-content {
	margin-bottom: 5em;
}

.testimonial-content:last-child {
	margin-bottom: 2em;
}

.contact-bg:before {
	top: 0;
	transform: skewY(1.5deg);
	transform-origin: 100% 0;
}


.contact-bg:after {
	bottom: 0;
	transform: skewY(-1.5deg);
	transform-origin: 100%;
}

.contact-section {
	padding: 3em 0;
}

.responsive-footer, 
.main-footer {
	margin: 0 1em;
	padding: 2em 0;
	font-weight: 900;
}

.main-footer {
	display: none;
}



/* ---- Page Elements ---- */

.about-img {
	width: 100%;
	border-radius: 5px;
    border: 5px solid #107B99;
}

.absolute-stamp {
	position: absolute;
	top: -27px;
    right: -30px;
    width: 85px;
}

.about-section p {
	letter-spacing: 0.03em;
}

.about-col span {
	border-bottom: 1px dotted #FFE4C3;
    color: #FFE4C3;
}

.portfolio-content {
	margin-bottom: 2em;
	vertical-align: top;
}

.portfolio-content h3 {
	margin: 1.5em 0 1em 0;
}

.portfolio-content p {
	padding: 0 10px;
}

.section-name {
	margin-bottom: 2em;
	text-transform: uppercase;
}

.testimonial-section .section-name{
	margin-top: 2em;
}

.contact-section .section-name {
	margin-bottom: 1em;
}

.contact-section p {
	margin: 0;
	margin-bottom: 1em; 
}

.contact-deets {
	font-weight: 700;
	margin-left: 20px; 
	letter-spacing: 0.05em;
}

.rounded-img {
	border-radius: 100%;
	width: 30%;
}

.test-quote {
	font-style: italic;
	font-size: 0.95em;
	color: #868686;
	padding: 0.2em 3em 1em;
	margin: 0;
}

.test-name {
	margin: 0;
	color: #005172;
	font-weight: 400;
}

.job-title {
	padding-bottom: 3px;
	border-bottom: 1px dotted #1395BA;
	font-weight: 300;
    color: #FA8366;
}

.my-name-footer, 
.to-top-footer {	
    display: inline-block;
    width: 50%;
}

.my-name-footer {
	text-align: left;
	margin-right: -5px;
}

.to-top-footer {
	text-align: right;
}

.to-top-footer:hover {
	color: #107B99;
}


/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {

	/* ---- Nav ---- */

	.main-nav li, 
	.foot-nav li {
		display: inline-block;
	}

	.main-nav a, 
	.foot-nav a{
		background-color: transparent;
	}

	.main-nav a {
		font-size: 1em;
		border-bottom: 2px solid transparent; 
	}

	.main-nav a:hover {
		background-color: transparent;
		color: #107B99;
		border-bottom: 2px solid #FFE4C3;
	}

	/* ---- About---- */

	.about-col {
		width: 50%;
    	display: inline-block;
	}

	.container-absolute{		
    	padding: 1em;
	}

	.absolute-stamp {
		top: -18px;
	    right: -7px;
	    width: 100px;
	}

	.about-section p {
    	font-size: 1.5em;
    	float: left;
    	padding: 1em 1em 0;
    	margin: 0;
    	text-align: left;
	}

	.about-img {
		border-radius: 10px;
	}
	/* ---- Portfolio ---- */

	.portfolio-content {
	    display: inline-block;
	    width: 49%;
	    margin-right: -4px;
	    padding: 1em;
	}

	.portfolio-content:nth-of-type(2n) {
		margin-right: 0;
	}

	/* ---- Testimonial---- */

	.testimonial-content {
	    display: inline-block;
	    width: 50%;
	    margin-right: -4px;
	}

	.testimonial-content:nth-of-type(2n) {
	    margin-right: 0;
	    vertical-align: top;
	}

	/* ---- Contact ---- */

	.contact-bg:before {
		transform: skewY(2deg);
	}

	.contact-bg:after {
		transform: skewY(-2deg);
	}

	/* ---- Footer ---- */

	.responsive-footer {
		display: none;
	}

	.my-name-footer {
		width: 39%;
	}

	.main-footer {
		display: block;
	}

	.foot-nav {
		display: inline-block;
		width: 61%;
		text-align: right;
	}

	.foot-nav a:hover {
		color: #107B99;
	}

	/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

}



@media (min-width: 1025px) {

	/* ---- Nav ---- */

	.main-header {
		padding: 3em 1em 0;
	}

	.main-nav, 
	.my-name {
		display: inline-block;
	}

	.my-name {
		width: 48%;
	}

	.main-nav {
		width: 52%;
	}

	.my-name {
		text-align: left;
		margin-right: -4px;
	}

	.main-nav {		
		text-align: right;
		vertical-align: top;
	}

	/* ---- About ---- */

	.about-section p {
		padding-top: 4.5em;
	}

	/* ---- Portfolio ---- */

	.portfolio-content {
		width: 33%;
		padding: 0.5em;
	}

	.portfolio-content p, 
	.contact-section p {
		font-size: 1.1em;
	}

	.portfolio-content:nth-of-type(2n) {
		margin-right: -4px;
	}

	.portfolio-content:last-child {
		margin-right: 0;
	}

	.portfolio-content:nth-of-type(3n) {
		margin-right: 0;
	}

	/* ---- Testimonial ---- */

	.testimonial-content {
	    width: 33%;
	}

	.testimonial-content:nth-of-type(2n) {
	    margin-right: -4px;
	}

	.testimonial-content:last-child {
	    margin-right: 0;
	    vertical-align: top;
	}

	.test-quote {
	    padding-top: 0.8em;
	    height: 105px;
	    font-size: 0.95em;
	}
}




